@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

body{
  color: white;
}
a {
  all: unset;
}

a:hover {
  all: unset;
}
.logo-text{
  text-decoration: none;
  font-family: 'Anton';
  font-size: 2rem;
  letter-spacing: 4px;
  color:inherit;
}


/*Link Component CSS */
.link-component{
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 700;
  font-family: "Noto Sans";
}

.link-component:hover{
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 700;
  color: #33363D;
  font-family: "Noto Sans";
}

.logo{
  margin-right: 10px;
  font-size: 24px;
}
.logo:hover{
  color:grey;
  margin-right: 10px;
  font-size: 28px;
  
}

.card{
  transition: all 0.5s;
  width: 270px;
}

.card:hover{
  transform: scale(1.15);
  min-height: 380px;
  margin-top: 10%;
}

.metacritic-data{
  
  float: right;
  text-align: center;
  font-weight: 700;
  border: 1px solid grey;
  padding: 3px;
  border-radius: 5px;
  

}